# Default to ignoring everything. This allows for easier integration in
# directories where vendor scripts are automatically installed.
*

# Specifically include custom scripts
!autopytest
!create-python-project

